* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vh;
  height: 50vh;
}

li {
  list-style: none;
  font-size: 25px;
  padding: 5px;
  font-family: sans-serif;
}
